## Read Data

In [5]:
import pandas as pd

data = pd.read_excel("PSP_Jan_Feb_2019.xlsx")

In [6]:
data.head()

,Unnamed: 0,tmsp,country,amount,success,PSP,3D_secured,card
0,0,2019-01-01 00:01:11,Germany,89,0,UK_Card,0,Visa
1,1,2019-01-01 00:01:17,Germany,89,1,UK_Card,0,Visa
2,2,2019-01-01 00:02:49,Germany,238,0,UK_Card,1,Diners
3,3,2019-01-01 00:03:13,Germany,238,1,UK_Card,1,Diners
4,4,2019-01-01 00:04:33,Austria,124,0,Simplecard,0,Diners

In [7]:
data.drop('Unnamed: 0', axis = 1, inplace=True)

In [10]:
data.to_csv('PSP_Jan_Feb_2019.csv', index=False)

In [9]:
data.isnull().sum()

tmsp          0
country       0
amount        0
success       0
PSP           0
3D_secured    0
card          0
dtype: int64